XCOMM #---------------------------------------------------
XCOMM # Machine dependant configuration to build JSF application.
XCOMM #---------------------------------------------------
XCOMM # 
XCOMM #  Required environment variable.
XCOMM #     ROOTSYS : ROOT top directory.
XCOMM #     JSFROOT : JSF top directory
XCOMM #     LCLIBROOT  : lclib top directory
XCOMM #     CERN_ROOT  : cern top directory
XCOMM # 
XCOMM #(History) 
XCOMM #  29-May-1999 Add EXTRACXXOPT in CXXFLAGS
XCOMM #              Define .cxx compile rule here.    
XCOMM #  4-Feb-2000 soname option in SOFLAGS for Linux is removed.
XCOMM # 
XCOMM # $Id$
XCOMM # 
#include "conf/spec"
DllSuf        = $(SOEXT)
SrcSuf        = cxx
ObjSuf        = o
HdrSuf        = h

LD            = $(CXX)

#if __ROOT_VERSION__ >= 2 && __ROOT_MINORVERSION__ >= 22 
ROOT222LIBS	= -lPhysics
#endif

ROOTLIBS      = -L$(ROOTSYS)/lib -lNew -lBase -lCint -lClib -lCont -lFunc \
                -lGraf -lGraf3d -lHist -lHtml -lMatrix -lMeta -lMinuit -lNet \
                $(ROOT222LIBS) -lPostscript -lProof -lTree -lUnix -lZip -lRint
ROOTGLIBS     = -lGpad -lGui -lGX11 -lX3d

LCLIBDIR      = $(LCLIBROOT)/lib

JSFLIBS       = -L$(JSFROOT)/lib -lJSF -lJSFLCFULL -lJSFQuickSim -lJSFDMatrix \
		-lBasesSpring

DEPENDFILES   = $(CXXFLAGS) $(INCPATH)

XCOMM #---------------------------------------------------

.SUFFIXES: .$(SrcSuf)

.$(SrcSuf).$(ObjSuf):
	$(CXX) $(CXXFLAGS) -c $<


XCOMM # -----------------------------------------------------
XCOMM # Linux with egcs
XCOMM # -----------------------------------------------------
#if defined(LinuxArchitecture)
SOEXT         = so
LIBF2C	      = -l$(G77EGCS_LIBNAME)
FC	      = g77
CXX           = g++ -O2 -g
CXXFLAGS      = -Wall -fPIC \
		$(EXTRACXXOPT) \
		-I$(JSFROOT)/include -I$(ROOTSYS)/include
SOFLAGS       = -shared -rdynamic
LDFLAGS       = $(ANALLIB) $(GLIBS) -rdynamic
LIBS          = $(ROOTLIBS) -lm -ldl
GLIBS         = $(ROOTLIBS) $(ROOTGLIBS) -L/usr/X11R6/lib \
		-lXpm -lX11 $(LIBF2C) -lm -ldl
BLOCKDATA     = 
DEPENDFILES  += $(shell cxxdepends)
#endif

XCOMM # -----------------------------------------------------
XCOMM # MkLinux with egcs
XCOMM # -----------------------------------------------------
#if defined(PowerPCArchitecture)
#ifndef PPCArchitecture
#define PPCArchitecture
#endif
#endif
#if defined(PPCArchitecture)
SOEXT         = so
LIBF2C	      = -l$(G77EGCS_LIBNAME)
CXX           = g++ -O2
CXXFLAGS      = -Wall -fsigned-char -fPIC \
		$(EXTRACXXOPT) \
                -I$(JSFROOT)/include -I$(ROOTSYS)/include
SOFLAGS       = -shared -rdynamic
LDFLAGS       = $(ANALLIB) $(GLIBS) -rdynamic
LIBS          = $(ROOTLIBS) -lm -ldl
GLIBS         = $(ROOTLIBS) $(ROOTGLIBS) -L/usr/X11R6/lib \
                -lXpm -lX11 $(LIBF2C) -lm -ldl
BLOCKDATA     = 
DEPENDFILES  += $(shell cxxdepends)
#endif

XCOMM # -----------------------------------------------------
XCOMM # For Machten gcc (This is not tested yet.)
XCOMM # -----------------------------------------------------
#if defined(MachTenPPCArchitecture)
SOEXT         = so
LIBF2C        = -lf2c           
CXX           = g++ -O2
CXXFLAGS      = -Wall  -fno-rtti -fno-exceptions -fPIC \
		$(EXTRACXXOPT) \
		-I$(JSFROOT)/include -I$(ROOTSYS)/include
SOFLAGS       = -shared -rdynamic
LDFLAGS       = $(ANALLIB) $(GLIBS) -rdynamic
LIBS          = $(ROOTLIBS) -lm -ldl
GLIBS         = $(ROOTLIBS) $(ROOTGLIBS) -L/usr/X11R6/lib \
		-lXpm -lX11 $(LIBF2C) -lm -ldl
BLOCKDATA     = 
DEPENDFILES  += $(shell cxxdepends)
#endif

XCOMM # -----------------------------------------------------
XCOMM # HI-UX
XCOMM # -----------------------------------------------------
#if defined(hitachiArchitecture)
SOEXT         = sl
CXX           = g++ -O2
CXXFLAGS      = -Wall  -fno-rtti -fno-exceptions -fPIC \
		$(EXTRACXXOPT) \
		-I$(JSFROOT)/include -I$(ROOTSYS)/include \
		$(USEFORTRAN)
SOFLAGS       = -nostdlib  -nostartfiles -Wl,-b,-E 
LDFLAGS       = $(ANALLIB) -Wl,+s $(GLIBS) $(F90LIB)
MYLDOPT       = -lmsl2 -L/lib/pa1.1 -lm
F90LIB        =  $(MYLDOPT) -Wl,-a,archive -lhf90math -lf90 \
		-Wl,-a,default -lc
LIBS          = $(ROOTLIBS) -lm -ldld
GLIBS         = $(ROOTLIBS) $(ROOTGLIBS) -lXpm -lX11 -lm -ldld
FC            = f90
USEFORTRAN    = -D_HIUX_FORTRAN
BLOCKDATA     = $(LCLIBROOT)/util/lcfull/src/prblk1.o \
		$(LCLIBROOT)/util/fortlib/src/uconst.o \
		$(LCLIBROOT)/simjlc/src/smrblk.o \
		$(LCLIBROOT)/util/ltkcl/cmbblk.o 
DEPENDFILES  += $(shell cxxdepends)
#endif


XCOMM # -----------------------------------------------------
XCOMM # HP-UX
XCOMM # -----------------------------------------------------
#if defined(HPArchitecture)
SOEXT         = sl
LIBF2C        = -L/opt/fortran/lib -lU77
CXX	      = aCC -O
CXXFLAGS      = +W70,495,740,749,829,823 -DR__ACC -z +Z \
		$(EXTRACXXOPT) \
		-I$(JSFROOT)/include -I$(ROOTSYS)/include
SOFLAGS       = -b -z -Wl,+vnocompatwarnings -Wl,-E
LDFLAGS       = -z -Wl,+s -Wl,-E $(ANALLIB) $(GLIBS)
LIBS          = $(ROOTLIBS) -L/usr/lib -lm -ldld
GLIBS         = $(ROOTLIBS) $(ROOTGLIBS) \
		$(LIBF2C) -L/usr/lib -lm -ldld
BLOCKDATA     = 
DEPENDFILES   += -I/opt/aCC/include -I/opt/aCC/include/iostream \
                -I/usr -I/usr/include
#endif


#if __ROOT_VERSION__ >= 2 && __ROOT_MINORVERSION__ >= 23 
ROOTLIBS      = $(shell root-config --libs) -lMinuit
ROOTGLIBS     = -lGui
#endif

