XCOMM #---------------------------------------------------
XCOMM # Machine dependant configuration to build JSF application.
XCOMM #---------------------------------------------------
XCOMM # 
DllSuf        = $(SOEXT)
SrcSuf        = cxx
ObjSuf        = o

LD            = $(CXX)

ROOTLIBS      = -L$(ROOTSYS)/lib -lNew -lBase -lCint -lClib -lCont -lFunc \
                -lGraf -lGraf3d -lHist -lHtml -lMatrix -lMeta -lMinuit -lNet \
                -lPostscript -lProof -lTree -lUnix -lZip
ROOTGLIBS     = -lGpad -lGui -lGX11 -lX3d

LCLIBDIR      = $(LCDIR)/lib


XCOMM # -----------------------------------------------------
XCOMM # Linux with egcs
XCOMM # -----------------------------------------------------
#if defined(LinuxArchitecture)
SOEXT         = so
LIBF2C	      = -lf2c
CXX           = g++ -O2 -g
CXXFLAGS      = -Wall  -fno-rtti -fno-exceptions -fPIC \
		-I$(JSFROOT)/include -I$(ROOTSYS)/include
SOFLAGS       = -shared -Wl,-soname,$(SONAME).$(SOEXT)
LCDIR         = /proj/phys/lclib/pro
LDFLAGS       = $(ANALLIB) $(GLIBS)
LIBS          = $(ROOTLIBS) -lm -ldl -rdynamic
GLIBS         = $(ROOTLIBS) -lRint $(ROOTGLIBS) -L/usr/X11R6/lib \
		-lXpm -lX11 $(LIBF2C) -lm -ldl -rdynamic
BLOCKDATA     = 
#endif

XCOMM # -----------------------------------------------------
XCOMM # MkLinux with egcs
XCOMM # -----------------------------------------------------
#if defined(PPCArchitecture)
SOEXT         = so
LIBF2C        = -lg2c           
CXX           = g++ -O2 -g
CXXFLAGS      = -Wall -fsigned-char -fno-rtti -fno-exceptions -fPIC \
                -I$(JSFROOT)/include -I$(ROOTSYS)/include
SOFLAGS       = -shared -Wl,-soname,$(SONAME).$(SOEXT)
LCDIR         = /proj/phys/lclib/pro
LDFLAGS       = $(ANALLIB) $(GLIBS)
LIBS          = $(ROOTLIBS) -lm -ldl -rdynamic
GLIBS         = $(ROOTLIBS) -lRint $(ROOTGLIBS) -L/usr/X11R6/lib \
                -lXpm -lX11 $(LIBF2C) -lm -ldl -rdynamic
BLOCKDATA     = 
#endif

XCOMM # -----------------------------------------------------
XCOMM # For Machten gcc (This is not tested yet.)
XCOMM # -----------------------------------------------------
#if defined(MachTenPPCArchitecture)
SOEXT         = so
LIBF2C        = -lf2c           
CXX           = g++ -O2 -g
CXXFLAGS      = -Wall  -fno-rtti -fno-exceptions -fPIC \
		-I$(JSFROOT)/include -I$(ROOTSYS)/include
SOFLAGS       = -shared -Wl,-soname,$(SONAME).$(SOEXT)
LCDIR         = /proj/phys/lclib/pro
LDFLAGS       = $(ANALLIB) $(GLIBS)
LIBS          = $(ROOTLIBS) -lm -ldl -rdynamic
GLIBS         = $(ROOTLIBS) -lRint $(ROOTGLIBS) -L/usr/X11R6/lib \
		-lXpm -lX11 $(LIBF2C) -lm -ldl -rdynamic
BLOCKDATA     = 
#endif

XCOMM # -----------------------------------------------------
XCOMM # HI-UX
XCOMM # -----------------------------------------------------
#if defined(hitachiArchitecture)
CXX           = g++ -O2 -g
CXXFLAGS      = -Wall  -fno-rtti -fno-exceptions -fPIC \
		-I$(JSFROOT)/include -I$(ROOTSYS)/include \
		$(USEFORTRAN)
SOFLAGS       = -nostdlib  -nostartfiles -Wl,-b,-E 
LDFLAGS       = $(ANALLIB) -Wl,+s $(GLIBS) $(F90LIB)
MYLDOPT       = -lmsl2 -L/lib/pa1.1 -lm
F90LIB        =  $(MYLDOPT) -Wl,-a,archive -lhf90math -lf90 \
		-Wl,-a,default -lc
SOEXT         = sl
LCDIR         = /proj.hi/phys/lclib/98a
LIBS          = $(ROOTLIBS) -lm -ldld
GLIBS         = $(ROOTLIBS) -lRint $(ROOTGLIBS) -lXpm -lX11 -lm -ldld
FC            = f90
USEFORTRAN    = -D_HIUX_FORTRAN
BLOCKDATA     = $(LCDIR)/util/lcfull/src/prblk1.o \
		$(LCDIR)/util/fortlib/src/uconst.o \
		$(LCDIR)/simjlc/src/smrblk.o \
		$(LCDIR)/util/ltkcl/cmbblk.o 
#endif


XCOMM # -----------------------------------------------------
XCOMM # HP-UX
XCOMM # -----------------------------------------------------
#if defined(HPArchitecture)
LIBF2C        = -L/opt/fortran/lib -lU77
CXX	      = aCC -O -g
CXXFLAGS      = +W70,495,740,749,829 -DR__ACC -z +Z \
		-I$(JSFROOT)/include -I$(ROOTSYS)/include
SOFLAGS       = -b -z -Wl,+vnocompatwarnings
LDFLAGS       = -z -Wl,+s -Wl,-E $(ANALLIB) $(GLIBS)
SOEXT         = sl
LCDIR         = /proj/phys/lclib/pro
LIBS          = $(ROOTLIBS) -lm -ldld
GLIBS         = $(ROOTLIBS) -lRint $(ROOTGLIBS) -lXpm -lX11 \
		$(LIBF2C) -lm -ldld
BLOCKDATA     = 
#endif

