XCOMM ##
XCOMM ## This is a sample spec file.  
XCOMM ##
XCOMM # The file $JSFROOT/conf/spec is included from $JSFROOT/conf/makejsf.tmpl 
XCOMM # through Imakefile when xmkmf command is executed. The file, 
XCOMM # $JSFROOT/conf/spec, is created automatically by the script, 
XCOMM # $JSFROOT/bin/makespec when make install command is executed.  
XCOMM # Currently this file is used  only on Linux system.
XCOMM #
XCOMM # This file, spec.sample, is prepared for the case when the makespec 
XCOMM # script failed to create spec file.
XCOMM #
XCOMM # Meaning of the values:
XCOMM # (1) ROOT version information
XCOMM #     gROOT->GetVersion() is used to get the version string like,
XCOMM #      2.21/08  
XCOMM #     which is separated to three integers as follows.
XCOMM #         ROOT_VERSION = 2
XCOMM #         ROOT_MINARVERSION = 21
XCOMM #         ROOT_PATCHLEVEL= 8
ROOT_VERSION = 2
ROOT_MINARVERSION = 21
ROOT_PATCHLEVEL= 8
XCOMM #
XCOMM # (2) g77 -v command prints the version information like
XCOMM #    gcc version egcs-2.90.29 980515 (egcs-1.0.3 release)
XCOMM #    From the egcs-  release number, following three integer is constructed.
XCOMM #
XCOMM #         G77EGCS_VERSION = 1
XCOMM #         G77EGCS_MINARVERSION = 0
XCOMM #         G77EGCS_PATCHLEVEL = 3
G77EGCS_VERSION = 1
G77EGCS_MINARVERSION = 0
G77EGCS_PATCHLEVEL = 3
XCOMM #
XCOMM # (3) By a comand, "uname -m" and "uname -s", following two lines are
XCOMM # generated.
XCOMM #         UNAME_MACHINE = i686
XCOMM #         UNAME_SYSNAME = Linux
UNAME_MACHINE = i686
UNAME_SYSNAME = Linux
XCOMM #
XCOMM #